*
{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
.oscuro-50 {
  filter: brightness(50%); // Más oscura
}
.btn-outline-info{
	color:#fff;
	border-color: #fff;
}

.bg-secondary{
 	background-color: #333333 !important;
 }
.carousel-indicators [data-bs-target] { /*indicadores circulares DIF*/
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
 .gradient-custom {
  /*	https://mdbootstrap.com/docs/standard/tools/design/gradients/
  fallback for old browsers */
  background: #4ea6a6;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(78, 166, 166, 0.5), rgba(8, 37, 104, 0.9));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(78, 166, 166, 0.5), rgba(8, 37, 104, 0.9))
}
footer{
	height: 8rem;
}

.parallax {
  /* The image used */
  background-image: url("../img/parallax.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.chiquito{
	display: none;
}
@media (max-width: 700px) { 
.chiquito{
	display: inline-block;
}
}
